@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:wght@400;600&family=Roboto&display=swap');

.clear{
    width: 18vw;
    background-color: red;
    color: blue;
    font-weight: 800;
    margin-top: 3rem;
}

.clear:hover{
    scale: 1.6;
    transition: .2s;
}



